* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: #ffd900;
    font-family: Arial, Helvetica, sans-serif;
    overflow-x: hidden;
}

/*
  ///////////////////////////////////////////////////////
  COLLAPSIBLE BUTTONS
  ////////////////////////////////////////////////////
  */
.collapsible button {
    background-color: #ffffff;
    color: black;
    cursor: pointer;
    border: rgba(255, 0, 0, 0);
    text-align: left;
    margin-top: 15px;
    font-size: 17px;
    font-weight: 700;
    border-bottom: 2px solid black;
}

.overlay button:hover, .overlay button:focus {
    color: #dddddd;
}

.content {
    display: none;
    WIDTH: 380px;
    text-align: justify;
    margin-top: 5px;
    margin-left: 5px;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    font-size: 12px;
    color: black;
}

/*
  ///////////////////////////////////////////////////////
  OFFSCREEN NAV
  ////////////////////////////////////////////////////
  */

.overlay {
    height: 90%;
    width: 0;
    position: fixed;
    z-index: 100;
    top: 75px;
    left: 25px;
    background-color: rgb(0,0,0);
    background-color: rgba(255,255,255, 1);
    overflow-x: hidden;
    transition: 0.5s;
}

.overlay-content {
    position: relative;
    top: 0;
    width: 420px;
    text-align: left;
    Left: 15px;
    margin-top: 15px;
    font-size: 1px;
    font-weight: 500;
}

.overlay a {
    text-decoration: none;
    color: #000000;
    transition: 0.3s;
    font-size: 15px;
    font-weight: 700;
    border-bottom: 2px solid black;
}

    .overlay a:hover, .overlay a:focus {
        color: #f1f1f1;
    }

.overlay .closebtn {
    position: absolute;
    top: 0px;
    right: 45px;
    z-index: 1000;
}

/*
  ///////////////////////////////////////////////////////
  GRID ORGANIZER
  ////////////////////////////////////////////////////
  */

/*
  ///////////////////////////////////////////////////////
  HEADER BAR
  ////////////////////////////////////////////////////
  */

#myNav {
    display: none;
    width: 420px;
}


.icon {
    position: fixed;
    left: 80px;
    margin-top: 21px;
    z-index: 999;
}

.hamburger-shell {
    display: inline-block;
    cursor: pointer;
    position: fixed;
    left: 25px;
    top: 30px;
    padding: 0;
    z-index: 999;
    width: 30px;
    height: 4px;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(255,101,47,.2);
    transition: all .5s ease-in-out;
}

.ham-back {
    display: inline-block;
    position: fixed;
    left: 25px;
    top: 17px;
    z-index: 20;
    width: 30px;
    height: 30px;
    background: rgba(196, 121, 121, 0);
}
    .hamburger-shell::before,
    .hamburger-shell::after {
        content: '';
        position: absolute;
        width: 30px;
        height: 4px;
        background: rgb(255, 255, 255);
        border-radius: 5px;
        box-shadow: 0 2px 5px rgba(255, 102, 47, 0);
        transition: all .5s ease-in-out;
        z-index: 999;
    }

    .hamburger-shell::before {
        transform: translateY(-10px);
    }

    .hamburger-shell::after {
        transform: translateY(10px);
    }

/* ANIMATION */
.hamburger-shell.nav-open {
    transform: translateX(-50px);
    background: transparent;
    box-shadow: none;
    z-index: 500;
}

    .hamburger-shell.nav-open::before {
        transform: rotate(45deg) translate(35px, -35px);
    }

    .hamburger-shell.nav-open::after {
        transform: rotate(-45deg) translate(35px, 35px);
    }




.topnav input[type=text] {
    position: fixed;
    background: rgba(255,255,255,0);
    left: 25px;
    padding: 6px;
    margin-top: 75px;
    color: white;
    margin-right: 16px;
    border: 3px solid white;
    width: 400px;
    font-size: 17px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 900;
    z-index: 50;
}

.overlay .Nav-footer {
    background-color: none;
    color: rgb(0, 0, 0);
    z-index: 10;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 900;
    font-size: 12px;
    border-bottom: 5px solid rgba(3, 3, 3, 0);
    position: absolute;
    left: 10px;
    bottom: 20px;
    padding-top: 670px;
    padding-left: 20;
    width: 400px;
    display: flex;
    flex: 1;
}

input::placeholder {
    color: White;
}

input::focus {
    background-color: yellow;
    outline: 0;
}

.topnav input[type=text]:focus {
    outline: none;
}

.buttoncontainer {
    position: fixed;
    left: 19px;
    display: block;
    color: white;
    margin-top: 115px;
    z-index: 10;
}

.button {
    background-color: Transparent;
    background-repeat: no-repeat;
    border: none;
    color: white;
    padding: 5px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 900;
    margin: 4px 2px;
    cursor: pointer;
    z-index: 10;
}

.dropbtn {
    background-color: Transparent;
    background-repeat: no-repeat;
    border: none;
    Color: white;
    padding: 5px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 900;
    margin: 4px 2px;
    cursor: pointer;
    z-index: 10;
}

.dropdown {
    background-color: rgba(255, 255, 255, 0);
    position: relative;
    display: inline-block;
}

.dropdown-content {
    background-color: rgba(255, 255, 255, 0);
    display: none;
    position: absolute;
    min-width: 160px;
    z-index: 500;
}

    .dropdown-content a {
        background-color: rgba(255, 255, 255, 0);
        color: white;
        border: 3px solid white;
        padding: 10px 16px;
        text-decoration: none;
        display: block;
        z-index: 500;
        font-size: 12px;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: 900;
        margin: 4px 2px;
        cursor: pointer;
        z-index: 10;
    }

        .dropdown-content a:hover {
            background-color: white;
            color: black;
        }

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: white;
    color: black;
}

/*------------------------*/
/*GRID ORGANIZER*/

@media (max-width: 600px) {
    .grid {
        display: grid;
        grid-template-columns: repeat( 4, 1fr);
        grid-auto-rows: 1fr;
        overflow: hidden;
    }
}

@media (min-width: 601px) {
    .grid {
        display: grid;
        grid-template-columns: repeat( 5, 1fr);
        grid-auto-rows: 1fr;
        overflow: hidden;
    }
}

@media (min-width: 1010px) {
    .grid {
        display: grid;
        grid-template-columns: repeat( 10, 1fr);
        grid-auto-rows: 1fr;
        overflow: hidden;
        height: auto;
        width: auto;
    }
}

.grid::before {
    content: '';
    width: 0;
    padding-bottom: 100%;
    grid-row: 1 / 1;
    grid-column: 1 / 1;
}

.grid > *:first-child {
    grid-row: 1 / 1;
    grid-column: 1 / 1;
}

.grid > * {
    background: rgba(255, 0, 0, 0);
    border: 0px white solid;
}

grid-item {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: middle;
    align-content: center;
    align-items: center;
}

    grid-item img {
        width: 100%;
        height: auto;
        min-height: 32px;
        max-height: 256px;
        min-width: 32px;
        max-width: 256px;
        cursor: pointer;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -o-user-select: none;
        user-select: none;
    }

/*
  ///////////////////////////////////////////////////////
  FOOTER BAR
  ////////////////////////////////////////////////////
  */
.footright {
    display: flex;
    position: fixed;
    right: 25px;
    bottom: 17px;
    color: white;
    z-index: 10;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 900;
    font-size: 12px;
}


.footcontainer {
    display: flex;
    position: fixed;
    left: -5px;
    bottom: 17px;
    width: 400px;
    text-align: center;
}


.footer1 {
    overflow: auto;
    flex: 1;
    border: 0px solid yellow;
    background-color: none;
    color: white;
    z-index: 10;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 900;
    font-size: 12px;
}

    .footer1 a {
        background-color: none;
        color: white;
        z-index: 10;
    }

/*
 ///////////////////////////////////////////////////////
 INTRO
 ////////////////////////////////////////////////////
 */
.logoload {
    /* SET BACKGROUND COLOR */
    background-color: rgba(255, 255, 255, 0.918);
    background-opacity: .25;
    /* SET BACKGROUND SIZE */
    background-size: 500px;
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url("https://cdn.jsdelivr.net/gh/luzegrace/ACSA-Wesbite-/dom_site/images/2021-teachers-800x400-load-logo-10.png") ;
    text-align: center;
    padding: 450px 0;
    font-weight: bold;
    font-size: 20;
}


/*
 ///////////////////////////////////////////////////////
 Modal
 ////////////////////////////////////////////////////
 */

 #popup-modal {
     right:0;
     height:100%;
     max-width: 450px;
 }

.ui-widget-content {
    border: 1px solid #aaaaaa00;
    background: #ffffffd7;
    color: #070707;
}

    .ui-widget-content .images img {
        width: 445px;
        height: 300px;
        object-fit: contain;
        cursor: zoom-in;
        border-color: #00000000;
    }

    .ui-widget-content .images img[aria-hidden="false"] {
        display: none !important;
        height: auto;
    }

.ui-widget {
    font-family: Verdana,Arial,sans-serif;
    font-size: .7em;
}

.ui-widget.ui-widget-content {
    border: 1px solid #7e2b2b00;
    max-width: 450;
    max-height: 100%;
    z-index: 999;
    position: fixed;
    box-shadow: 2px 5px 5px rgba(0, 0, 0, 0.356);
    margin-top: 10;
    overflow-x: hidden;
    left:auto;
    overflow-y: auto;
    display: inline-block;

}

.description {
    overflow-x: hidden;
    width:410;
    font-size:14;
    max-height: 275;
    line-height: 1.8em;
    margin-bottom: 30;
}


.ui-dialog {
    top: 0;
    right: 0;
    padding: .2em;
    outline: 0;
    bottom:0;
}

.ui-widget-header {
    border: none;
    background: none;
    color: #00000000;
    font-weight: bold;
}

.ui-dialog .ui-dialog-title {
    cursor:grab ;
}

.ui-draggable .ui-dialog-titlebar {
    cursor: grab;
}

.ui-dialog .ui-dialog-content {
    padding: .5em 2em;
    overflow-x: hidden;
    overflow-y: auto;
}

.ui-dialog .ui-dialog-titlebar-close {
    position: absolute;
    right: .3em;
    top: 50%;
    width: 20px;
    margin: -10px 0 0 0;
    padding: 1px;
    height: 20px;
}

.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default, .ui-button, html .ui-button.ui-state-disabled:hover, html .ui-button.ui-state-disabled:active {
    border: none;
    background-image: url("https://cdn.jsdelivr.net/gh/luzegrace/ACSA-Wesbite-/dom_site/images/X.svg") !important;
    font-weight: normal;
    background-color: #08080800;
}

.ui-button-icon-only .ui-icon {
    position: none;
    top: 50%;
    left: 50%;
    margin-top: -8px;
    margin-left: -8px;
    background-image: url("https://cdn.jsdelivr.net/gh/luzegrace/ACSA-Wesbite-/dom_site/images/X.svg") !important;
}

h1.title {
    font-size:x-large;
    color: rgba(255, 255, 255, 0.623);
    -webkit-text-stroke: 1.7px #da0000; /* width and color */
}

h2.people {
}

.ui-footer {
    font-weight: bold;
    color: rgb(5, 5, 5);
}

p.tags {
    text-indent: 20px;
    -webkit-text-stroke: 1.2px #da000000; /* width and color */
    color: rgb(7, 7, 7);
}
p.session {
    text-indent: 20px;
     -webkit-text-stroke: 1.2px #da000000; /* width and color */
     color: rgb(7, 7, 7);
}
/*
 ///////////////////////////////////////////////////////
 Scrollbar
 ////////////////////////////////////////////////////
 */

::-webkit-scrollbar {
    width: 10px;
    border: 3px solid rgb(255, 255, 255);
  
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: #ff000000;
    background-clip: padding-box;
    border: 0.2em solid #000000;
    height: 4px;
  }
  
  ::-webkit-scrollbar-track {
    background-color: #ffc40000;
  }

  /*
 ///////////////////////////////////////////////////////
 image carousel
 ////////////////////////////////////////////////////
 */
 .slick-slider {
    border-color: none;
    width: 395px;
    height: 300px;
    background-color: none;
}

.slick-slide img {
    display: block;
    border: none;
    border-color: none;
}
/*
 ///////////////////////////////////////////////////////
 filters for arrows
 ////////////////////////////////////////////////////
 */
 
/*PNG filters*/
.disabled {
    filter: opacity(10%);
}

.active {
}

.related {
    filter: invert(0%) saturate(63%) hue-rotate(359deg) brightness(97%);
}

.match {
    filter: sepia(100%);
}

.nomatch {
    filter: opacity(10%);
}
